.message.two-minutes {
  border-bottom-style: solid!important;
  border-bottom-color: red!important;
  border-bottom-width: thin!important;
}

.message.five-minutes {
  border-bottom-style: solid!important;
  border-bottom-color: green!important;
  border-bottom-width: thin!important;
}

.message.ten-minutes {
  border-bottom-style: solid!important;
  border-bottom-color: blue!important;
  border-bottom-width: thin!important;
}
