.message.two-minutes {
  border-top-style: solid!important;
  border-top-color: red!important;
  border-top-width: thin!important;
}

.message.five-minutes {
  border-top-style: solid!important;
  border-top-color: green!important;
  border-top-width: thin!important;
}

.message.ten-minutes {
  border-top-style: solid!important;
  border-top-color: blue!important;
  border-top-width: thin!important;
}
